  v  
body {
    background: #f8feff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
}

h1 {
    text-align: center;
    color: #6f7bfc;
}

div {
    margin: 20px auto;
    padding: 15px;
    width: 60%;
    border-radius: 10px;
}

/* Section styles */
.about {
    background: #00b3d1;
    color: white;
}

.skills {
    background: #e0f7fa;
}

.projects {
    background: #d1c4e9;
}

.contact {
    background: #c8e6c9;
.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(126, 14, 201); #f8feff
    display: block;
    margin: auto;
}
